.node {
  cursor: pointer;
}

.overlay{
  background-color: $white;
}

.node circle {
  fill: $white;
  stroke: $black;
  stroke-width: 0.5px;
}

.node text {
  @extend .node-text;
  //font-size: 10px;
  //font-family: sans-serif;
  // see global styles
}

.link {
  fill: none;
  stroke: $light-gray;
  stroke-width: 0.5px;
}

.templink {
  fill: none;
  stroke: red;
  stroke-width: 3px;
}

.ghostCircle.show{
  display:block;
}

.ghostCircle, .activeDrag .ghostCircle{
  display: none;
}