#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.8vh 0 1.8vh 0;

  a {
    text-decoration: none;
    color: inherit;
  }

  #logo {
    text-align: center;
    flex: 0 1 30%;
  }

  input:focus {
    outline:none;
  }

  #navbar-search-input::-webkit-search-cancel-button{
    display: none;
  }

  #navbar-search-input {
    flex: 0 1 40%;
    padding: .5rem .5rem .5rem 2.75rem;
    justify-self: center;
    border-radius: .25rem;
    background: url('../../public/images/search.svg') no-repeat scroll;
    background-position: .5rem 47%;
    background-size: 1.5rem 1.5rem;
    border: 1px solid $gray;
  }

  #navbar-icons {
    flex: 0 1 30%;
  }

}
