{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends": ["airbnb", "mixpanel"],
  "globals": {
    "mixpanel": false,
    "storeState": true,
    "userIsLoggedIn": false,
    "loggedInUserEmail": false,
    "addFavrUrl": false,
    "getFavrUrl": false,
    "removeFavrUrl": false,
    "updateFavrUrl": false,
    "acceptFavrUrl": false,
    "cancelAcceptedFavrUrl": false
  },
  "rules": {
    "no-console": "off",
    "object-curly-spacing": "off",
    "no-trailing-spaces": "off"
  },
  "parser": "babel-eslint"
}
