<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1 user-scalable=0">
    <title>Favr</title>
</head>
<body>
    <script>
      let storeState = {
        feedFavrs: [], // not complete && not posted/requested by logged in user
        myRequested: [], // all favrs requested by logged in user
        myAccepted: [], // all favrs accepted by logged in user
        feedComponentHandle: null
      };
      const userIsLoggedIn = {{='false' if auth.user is None else 'true'}};
      const loggedInUserEmail = `{{='' if auth.user is None else str (auth.user.email)}}`;
      const addFavrUrl = `{{=URL('api', 'addFavr')}}`;
      const getFavrUrl = `{{=URL('api', 'getFavr')}}`;
      const removeFavrUrl = `{{=URL('api', 'removeFavr', user_signature=True)}}`;
      const updateFavrUrl = `{{=URL('api', 'updateFavr', user_signature=True)}}`;
      const acceptFavrUrl = `{{=URL('api', 'acceptFavr', user_signature=True)}}`;
      const completeFavrUrl = `{{=URL('api', 'completeFavr', user_signature=True)}}`;
      const cancelAcceptedFavrUrl = `{{=URL('api', 'cancelAcceptedFavr', user_signature=True)}}`;
      const alertExpiredFavrUrl = `{{=URL('api', 'alertExpiredFavr', user_signature=True)}}`;
      const addFavrButtonImageSource = `{{=URL('static', 'images/addFavrButton.svg')}}`;
      const backToProfileButtonSource = `{{=URL('static', 'images/backToProfileButton.svg')}}`;
      const profileUrl = `{{=URL('api', 'get_profile_information', user_signature=True)}}`;
      const setProfileUrl = `{{=URL('api', 'set_profile_information', user_signature=True)}}`;
      const logoutUrl = `{{URL('default', 'user', args='logout')}}`;

    </script>
    <div id="app"></div>
    <script type="text/javascript" src="{{=URL('static', 'js/default_index.js')}}"></script>
</body>
</html>
