// font-size
$xs: 1rem;
$s: 1.2rem;
$m: 1.6rem;
$l: 2.4rem;
$xl: 3.0rem;
$xxl: 4.0rem;

// breakpoint
$desktop-breakpoint: 45rem;

// color
$black: #000000;
$gray: #C4C4C4;
$light-gray: #F2F2F2;
$white: #FCFCFC;
$red: #D71E1E;
$green: #2C7708;
$blue: #083D77;
$yellow: #DAA213;
