.navbar {
  min-width: 100%;
  position: fixed;
  background-color: $light-gray;
  padding: 1vw 0 1vw 0;
  z-index: 1;

  .logo {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: $l;
    text-align: center;
    letter-spacing: 0.04em;

    color: $blue;
  }
}
