hr {
  border: solid $gray 0.05rem;
  border-radius: 0.05rem;
}

.profile-favrs-container {
  width: 100%;
}

.profile-favr-feed {
  max-width: 700px;
  transform: scale(0.7);
}

.profile-favr-in-feed {
  padding: 0 2rem 0 2rem;
}

.show-favr-feed {
  position: absolute;
  //width: 45px;
  //height: 45px;
  //border-radius: 50%;
  right: 10%;
  top: 20%;
  //background: #0e90d2;
  font-family: Roboto, sans-serif;
  border-radius: 25px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
  cursor: pointer;
}

.profile-feed-container {
  //left: 20vw;
  display: flex;
  justify-content: flex-end;
  font-family: Roboto, sans-serif;
  overflow: hidden;
}

.visibility-hidden {
  visibility: hidden;
}

.display-none {
  display: none;
}
