ul {
    margin: 0;
}


.profile-page-container {
    background: linear-gradient(180deg, #083D77 67.96%, rgba(7, 43, 82, 0.95) 100%);
    margin: 0;
    width: 100%;
  }
  
.profile-page-card {
    background: $white;
    margin-left: 20%;
    margin-right: 60%;
    position: relative;
    border-radius: 25px;
    //left: 5vw;
    //top: 5vw;
}

.profile-page-symbol {
    color: $gray;
    font-weight: bold;
    font-size: $xxl;
    //left: 5vw;
    //top: 5vh;
    position: relative;
    font-family: Roboto, sans-serif;

}

.profile-page-name {
    color: $gray;
    font-size: $l;
    //left: 20%;
    //top:8vh;
    position: relative;
    font-family: Roboto, sans-serif;
}
  
  .profile-feed-container {
    display: flex;
    justify-content: flex-end;
  }
  