.profile-page-container {
  width: 100%;
    overflow: hidden;
  .profile-page-container_main {
    background: #083D77;
    margin: 0;
    width: 100%;
    //max-height: 100vh;
    height: 100%;
    display: flex;
    position: fixed;
    z-index: 5;
    align-items: center;
    justify-content: center;
    .profile-card-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background: $gray;
        border-radius: 25px;
        width: 25%;
        height: 25%;
        .profile-page-symbol {
            color: $black;
            //font-weight: bold;
            font-size: $xxl;
            display: flex;
            padding: 5%;


        }
        .profile-page-name {
            justify-content: center;
            padding: 5%;

        }
    }
    .profile-page-buttons {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-left: 20%;
        flex-direction: column;

        .show-feed {
            display: flex;
            width: 155px;
            height: 40px;
            border-radius: 50px;
            margin-right: 20px;
            transition: background-color .25s ease;
            background: rgb(57, 113, 173);
            border-color: $white;
        
            position: relative;
            justify-content: flex-end;
            align-items: center;

            margin: 20px;
            /*
            position: absolute;
            //width: 45px;
            //height: 45px;
            //border-radius: 50%;
            right: 10%;
            top: 20%;
            //background: #0e90d2;
            font-family: Roboto, sans-serif;
            border-radius: 25px;*/
            -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
            -moz-box-sizing: border-box;    /* Firefox, other Gecko */
            box-sizing: border-box;
            cursor: pointer;
            div {
                font-family: Roboto, sans-serif;
                font-style: normal;
                font-weight: normal;
                line-height: normal;
                font-size: 18px;
                text-align: center;
                letter-spacing: 0.04em;
          
                margin: auto;
                color: $white;
              }
            
          }
    }
  }
  .profile-page-container_feed {
    background: #083D77;
    margin: 0;
    width: 100%;
    //max-height: 100vh;
    height: 100%;
    display: flex;
    position: fixed;
    z-index: 5;
    display: none;
  }
}

.profile-feed-container {
  width: 100%;
  padding-top: calc(3vw + 2.4rem);
  display: flex;
  justify-content: center;
}

/*
.profile-card-container{
    background: $gray;
    display: flex;
    position: relative;
    justify-content: flex-start;
    top:47%;
    left: 5%;
    border-radius: 50px;
    height: 20%;

}

.profile-page-symbol {
    color: $black;
    font-weight: bold;
    font-size: $xxl;
    //left: 5vw;
    //top: 5vh;
    position: relative;
    font-family: Roboto, sans-serif;
    margin: 2rem 2rem 2rem 2rem;
}

.profile-page-name {
    color: $black;
    font-size: $l;
    //left: 20%;
    //top:8vh;
    margin: 2rem 2rem 2rem 2rem;
    position: relative;
    font-family: Roboto, sans-serif;
}

.show-feed {
    display: flex;
    width: 155px;
    height: 40px;
    border-radius: 50px;
    margin-right: 20px;
    transition: background-color .25s ease;
    background: rgb(57, 113, 173);
    border-color: $white;

    position: relative;
    top: 50%;
    left: 50%;
    /*
    position: absolute;
    //width: 45px;
    //height: 45px;
    //border-radius: 50%;
    right: 10%;
    top: 20%;
    //background: #0e90d2;
    font-family: Roboto, sans-serif;
    border-radius: 25px;*/
    /*
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    //-moz-box-sizing: border-box;    /* Firefox, other Gecko */
    /*
    box-sizing: border-box;
    cursor: pointer;
    div {
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 18px;
        text-align: center;
        letter-spacing: 0.04em;
  
        margin: auto;
        color: $white;
      }
    
  }
*/
  .back-favr-button {
    position: fixed;
    width: 45px;
    height: 45px;
    //border-radius: 50%;
    left: 5%;
    top: 10rem;
    //background: #0e90d2;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    cursor: pointer;
    z-index: 3;
  }
